.card-comic {
  margin: 20px;
  width: 18rem !important;

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;

}

.imgCard {
  max-width: 100%;
  width: 300px;
  height: 450px;
  object-fit: cover;
  object-position: bottom left;
}


.ant-card-actions>li>span a:not(.ant-btn),
.ant-card-actions>li>span>.anticon {
  width: 50%;
}



/* *,
::after,
::before {
  box-sizing: border-box;
} */


.row {
  margin: auto;
  max-width: 1000px;
}

h1 {
  margin: auto;
  max-width: 950px;
  color: blanchedalmond;
}